navbar-brand{
    color: gray !important;
}

a:hover {
    color: green !important;
}

nav {
    border-style: outset;
}

.text-welcome {
    color: grey;
    font-weight: lighter;
    text-align: center;
    margin-top: 30px;
}

.subtext-welcome {
    color: grey;
    font-weight: lighter;
    text-align: center;
    margin-top: 30px;
}

.container {
    margin-top: 50px;
}

.col h6{
    text-align: center;
}

img {
    align-items: center;
    max-width: 15%;
    margin: 20px;
}

.col-4 {
    text-align: right;
}

.col-4 img{
    max-width: 80%;
}

.col-4 h1{
    padding-top: 10px;
    padding-bottom: 20px;
}

.col-4 h6{
    font-weight: lighter;
    text-align: justify;
}

.col-4 ul{
    list-style-type: none;
}

.text-sc-welcome{
    font-weight:lighter;
}

.footer, row {
    background-color: black;
    color: white;
}

.col_foot_about h4,h6 {
    font-weight: lighter;
}

ul {
    text-align: left;
    list-style-type: none;
}

.col_foot h4 {
    font-size: 20px;
    padding-left: 20px;
}

.footer-bottom {
    align-items: center;
    text-align: center;
    border-style: outset;
}
